# AutoClaude Issue Handler
# This workflow triggers when an issue is opened or when a user is mentioned in a comment
# Copy this file to your repository's .github/workflows/ directory

name: AutoClaude Issue Handler

on:
  issues:
    types: [opened]
  issue_comment:
    types: [created]

jobs:
  analyze-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Send event to AutoClaude
        run: |
          curl -X POST "${{ secrets.AUTOCLAUDE_WEBHOOK_URL }}/webhook/github" \
            -H "Content-Type: application/json" \
            -H "X-GitHub-Event: ${{ github.event_name }}" \
            -H "X-Hub-Signature-256: sha256=$(echo -n '${{ toJson(github.event) }}' | openssl dgst -sha256 -hmac '${{ secrets.AUTOCLAUDE_WEBHOOK_SECRET }}' | cut -d' ' -f2)" \
            -d '${{ toJson(github.event) }}'
        env:
          AUTOCLAUDE_WEBHOOK_URL: ${{ secrets.AUTOCLAUDE_WEBHOOK_URL }}
          AUTOCLAUDE_WEBHOOK_SECRET: ${{ secrets.AUTOCLAUDE_WEBHOOK_SECRET }}
